includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - src

    # The level 9 is the highest level
    level: 9

    excludePaths:
        - app/Models/Concerns/HasUuid.php
        - app/Http/Resources/Api/ContactResource.php

    checkMissingIterableValueType: false

    universalObjectCratesClasses:
    - Illuminate\Http\Resources\Json\JsonResource
